---
http_interactions:
- request:
    method: post
    uri: https://api.clubhouse.io/api/v2/stories/bulk
    body:
      encoding: UTF-8
      string: '{"stories":[{"project_id":5,"name":"Once Upon"},{"project_id":5,"name":"A
        Time"},{"project_id":5,"name":"In A Land"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '46222870'
    body:
      encoding: ASCII-8BIT
      string: '[{"entity_type":"story","archived":false,"created_at":"2017-10-28T06:49:46Z","updated_at":"2017-10-28T06:49:46Z","id":39,"external_id":null,"name":"Once
        Upon","story_type":"feature","position":12148139008,"workflow_state_id":500000014,"moved_at":"2017-10-28T06:49:46Z","started":false,"started_at":null,"started_at_override":null,"completed":false,"completed_at":null,"completed_at_override":null,"blocker":false,"blocked":false,"estimate":null,"deadline":null,"project_id":5,"labels":[],"requested_by_id":"57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef","owner_ids":[],"follower_ids":["57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef"],"epic_id":null,"story_links":[],"comment_ids":[],"file_ids":[],"linked_file_ids":[],"task_ids":[]},{"entity_type":"story","archived":false,"created_at":"2017-10-28T06:49:46Z","updated_at":"2017-10-28T06:49:46Z","id":40,"external_id":null,"name":"A
        Time","story_type":"feature","position":12148204544,"workflow_state_id":500000014,"moved_at":"2017-10-28T06:49:46Z","started":false,"started_at":null,"started_at_override":null,"completed":false,"completed_at":null,"completed_at_override":null,"blocker":false,"blocked":false,"estimate":null,"deadline":null,"project_id":5,"labels":[],"requested_by_id":"57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef","owner_ids":[],"follower_ids":["57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef"],"epic_id":null,"story_links":[],"comment_ids":[],"file_ids":[],"linked_file_ids":[],"task_ids":[]},{"entity_type":"story","archived":false,"created_at":"2017-10-28T06:49:46Z","updated_at":"2017-10-28T06:49:46Z","id":41,"external_id":null,"name":"In
        A Land","story_type":"feature","position":12148270080,"workflow_state_id":500000014,"moved_at":"2017-10-28T06:49:46Z","started":false,"started_at":null,"started_at_override":null,"completed":false,"completed_at":null,"completed_at_override":null,"blocker":false,"blocked":false,"estimate":null,"deadline":null,"project_id":5,"labels":[],"requested_by_id":"57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef","owner_ids":[],"follower_ids":["57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef"],"epic_id":null,"story_links":[],"comment_ids":[],"file_ids":[],"linked_file_ids":[],"task_ids":[]}]'
  recorded_at: Sat, 28 Oct 2017 06:49:46 GMT
recorded_with: VCR 3.0.3
