---
http_interactions:
- request:
    method: post
    uri: https://api.app.shortcut.com/api/v3/stories/bulk
    body:
      encoding: UTF-8
      string: '{"stories":[{"project_id":5,"name":"Some new"},{"project_id":5,"name":"Test
        stories"},{"project_id":5,"name":"That exist"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Database-Time:
      - '405438251'
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '[{"app_url":"https:\/\/app.clubhouse.io\/philipcastiglione\/story\/56","archived":false,"started":false,"story_links":[],"entity_type":"story","labels":[],"external_tickets":[],"task_ids":[],"mention_ids":[],"member_mention_ids":[],"story_type":"feature","file_ids":[],"completed_at_override":null,"started_at":null,"completed_at":null,"name":"Some
        new","completed":false,"blocker":false,"epic_id":null,"previous_iteration_ids":[],"requested_by_id":"57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef","iteration_id":null,"started_at_override":null,"workflow_state_id":500000014,"updated_at":"2019-12-22T06:02:35Z","group_mention_ids":[],"support_tickets":[],"follower_ids":["57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef"],"owner_ids":[],"external_id":null,"id":56,"estimate":null,"position":12148925440,"blocked":false,"project_id":5,"linked_file_ids":[],"deadline":null,"comment_ids":[],"created_at":"2019-12-22T06:02:35Z","moved_at":"2019-12-22T06:02:35Z"},{"app_url":"https:\/\/app.clubhouse.io\/philipcastiglione\/story\/57","archived":false,"started":false,"story_links":[],"entity_type":"story","labels":[],"external_tickets":[],"task_ids":[],"mention_ids":[],"member_mention_ids":[],"story_type":"feature","file_ids":[],"completed_at_override":null,"started_at":null,"completed_at":null,"name":"Test
        stories","completed":false,"blocker":false,"epic_id":null,"previous_iteration_ids":[],"requested_by_id":"57e0b4eb-a95f-4[...]
