---
http_interactions:
- request:
    method: post
    uri: https://api.clubhouse.io/api/v1/epics
    body:
      encoding: UTF-8
      string: '{"name":"EEEEEEPIC","state":"to do"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '6527530'
    body:
      encoding: UTF-8
      string: '{"id":25,"name":"EEEEEEPIC","description":"","created_at":"2016-10-25T01:25:24Z","updated_at":"2016-10-25T01:25:24Z","deadline":null,"state":"to
        do","position":3,"archived":false,"follower_ids":[],"owner_ids":[],"comments":[]}'
  recorded_at: Tue, 25 Oct 2016 01:25:24 GMT
recorded_with: VCR 3.0.3
