---
http_interactions:
- request:
    method: post
    uri: https://api.app.shortcut.com/api/v3/epics
    body:
      encoding: UTF-8
      string: '{"name":"A new test epic","state":"to do"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Database-Time:
      - '405438037'
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"description":"","archived":false,"started":false,"entity_type":"epic","labels":[],"external_tickets":[],"mention_ids":[],"member_mention_ids":[],"project_ids":[],"completed_at_override":null,"started_at":null,"completed_at":null,"name":"A
        new test epic","completed":false,"comments":[],"state":"to do","milestone_id":null,"requested_by_id":"57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef","epic_state_id":500000017,"started_at_override":null,"updated_at":"2019-12-22T05:57:03Z","group_mention_ids":[],"support_tickets":[],"follower_ids":["57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef"],"owner_ids":[],"external_id":null,"id":52,"position":5,"deadline":null,"stats":{"num_points_done":0,"num_stories_unstarted":0,"last_story_update":null,"num_points_started":0,"num_points_unstarted":0,"num_stories_started":0,"num_stories_unestimated":0,"num_points":0,"num_stories_done":0},"created_at":"2019-12-22T05:57:03Z"}'
  recorded_at: Sun, 22 Dec 2019 05:57:04 GMT
recorded_with: VCR 3.0.3
