---
http_interactions:
- request:
    method: post
    uri: https://api.clubhouse.io/api/v1/stories/bulk
    body:
      encoding: UTF-8
      string: '{"stories":[{"project_id":5,"name":"Once Upon"},{"project_id":5,"name":"A
        Time"},{"project_id":5,"name":"In A Land"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '6528497'
    body:
      encoding: ASCII-8BIT
      string: '[{"archived":false,"created_at":"2016-10-25T02:25:58Z","id":26,"name":"Once
        Upon","story_type":"feature","description":"","position":12147745792,"workflow_state_id":500000014,"estimate":null,"updated_at":"2016-10-25T02:25:58Z","deadline":null,"project_id":5,"labels":[],"requested_by_id":"57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98","owner_ids":[],"follower_ids":["57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98"],"epic_id":null,"file_ids":[],"linked_file_ids":[],"comments":[],"tasks":[],"story_links":[]},{"archived":false,"created_at":"2016-10-25T02:25:59Z","id":27,"name":"A
        Time","story_type":"feature","description":"","position":12147811328,"workflow_state_id":500000014,"estimate":null,"updated_at":"2016-10-25T02:25:59Z","deadline":null,"project_id":5,"labels":[],"requested_by_id":"57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98","owner_ids":[],"follower_ids":["57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98"],"epic_id":null,"file_ids":[],"linked_file_ids":[],"comments":[],"tasks":[],"story_links":[]},{"archived":false,"created_at":"2016-10-25T02:25:59Z","id":28,"name":"In
        A Land","story_type":"feature","description":"","position":12147876864,"workflow_state_id":500000014,"estimate":null,"updated_at":"2016-10-25T02:25:59Z","deadline":null,"project_id":5,"labels":[],"requested_by_id":"57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98","owner_ids":[],"follower_ids":["57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98"],"epic_id":null,"file_ids":[],"linked_file_ids":[],"comments":[],"tasks":[],"story_links":[]}]'
  recorded_at: Tue, 25 Oct 2016 02:25:59 GMT
recorded_with: VCR 3.0.3
