---
http_interactions:
- request:
    method: get
    uri: https://api.clubhouse.io/api/v2/projects/5
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '46222857'
    body:
      encoding: UTF-8
      string: '{"entity_type":"project","id":5,"external_id":null,"name":"Sweet Project","description":"Description
        of the project! _(Optional)_","abbreviation":"SP","color":"#888888","iteration_length":2,"show_thermometer":true,"days_to_thermometer":5,"start_time":"2016-09-20T04:39:41Z","created_at":"2016-09-20T04:39:41Z","updated_at":"2016-09-20T04:39:41Z","archived":false,"follower_ids":[],"team_id":32,"stats":{"num_stories":12,"num_points":0}}'
  recorded_at: Sat, 28 Oct 2017 06:49:23 GMT
recorded_with: VCR 3.0.3
