---
http_interactions:
- request:
    method: get
    uri: https://api.clubhouse.io/api/v1/projects/5
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '6528147'
    body:
      encoding: ASCII-8BIT
      string: '{"id":5,"name":"Sweet Project","description":"Description of the project!
        _(Optional)_","abbreviation":"SP","color":"#888888","created_at":"2016-09-20T04:39:41Z","updated_at":"2016-09-20T04:39:41Z","archived":false,"follower_ids":[],"num_stories":3,"num_points":0}'
  recorded_at: Tue, 25 Oct 2016 02:02:44 GMT
recorded_with: VCR 3.0.3
