---
http_interactions:
- request:
    method: get
    uri: https://api.clubhouse.io/api/v2/projects/5/stories
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '46222858'
    body:
      encoding: ASCII-8BIT
      string: '[{"entity_type":"story","archived":false,"created_at":"2016-09-20T04:47:39Z","updated_at":"2016-09-20T04:47:39Z","id":20,"external_id":null,"name":"Reap
        Rewards","story_type":"feature","position":12147418112,"workflow_state_id":500000014,"moved_at":null,"started":false,"started_at":null,"started_at_override":null,"completed":false,"completed_at":null,"completed_at_override":null,"blocker":false,"blocked":false,"estimate":null,"deadline":null,"project_id":5,"labels":[{"entity_type":"label","id":21,"created_at":"2016-09-20T04:47:39Z","updated_at":"2016-09-20T04:47:39Z","name":"Party","color":null,"external_id":null,"archived":false}],"requested_by_id":"57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef","owner_ids":[],"follower_ids":["57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef"],"epic_id":null,"story_links":[],"comment_ids":[],"file_ids":[],"linked_file_ids":[],"task_ids":[23,22]},{"entity_type":"story","archived":false,"created_at":"2016-09-20T04:46:23Z","updated_at":"2016-09-20T04:46:23Z","id":15,"external_id":null,"name":"Rescue
        Princess","story_type":"feature","position":12147483648,"workflow_state_id":500000014,"moved_at":null,"started":false,"started_at":null,"started_at_override":null,"completed":false,"completed_at":null,"completed_at_override":null,"blocker":false,"blocked":false,"estimate":null,"deadline":"2017-05-08T14:00:00Z","project_id":5,"l[...]
