---
http_interactions:
- request:
    method: get
    uri: https://api.clubhouse.io/api/v1/projects/5/stories
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '6528147'
    body:
      encoding: ASCII-8BIT
      string: '[{"archived":false,"created_at":"2016-09-20T04:47:39Z","id":20,"name":"Reap
        Rewards","story_type":"feature","description":"Given that you''ve just rescued
        the princess from her evil kidnappers, you will probably want to enjoy your
        hearty rewards.","position":12147418112,"workflow_state_id":500000014,"estimate":null,"updated_at":"2016-09-20T04:47:39Z","deadline":null,"project_id":5,"labels":[{"id":21,"name":"Party","created_at":"2016-09-20T04:47:39Z","updated_at":"2016-09-20T04:47:39Z"}],"requested_by_id":"57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98","owner_ids":[],"follower_ids":["57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98"],"epic_id":null,"file_ids":[],"linked_file_ids":[],"comments":[],"tasks":[{"id":22,"description":"Party","position":1,"created_at":"2016-09-20T04:47:39Z","updated_at":"2016-09-20T04:47:39Z","complete":false,"completed_at":null,"story_id":20,"owner_ids":[],"mention_ids":[]},{"id":23,"description":"Don''t
        tell anyone that you actually organised the whole thing","position":2,"created_at":"2016-09-20T04:47:39Z","updated_at":"2016-09-20T04:47:39Z","complete":false,"completed_at":null,"story_id":20,"owner_ids":[],"mention_ids":[]}],"story_links":[]},{"archived":false,"created_at":"2016-09-20T04:46:23Z","id":15,"name":"Rescue
        Princess","story_type":"feature","description":"Well, really just go pretend
        to rescue her, since you arranged her kidnap. Potato potato. Hmm. That doesn''t
        really work in written form.","position":12147483648,"workflow_state_id":500000014,"estimate":null,"updated_at":"2016-09-20T04:46:23Z","deadline":"2017-05-08T14:00:00Z","project_id":5,"labels":[{"id":16,"name":"Door
        Bashing","crea[...]
