---
http_interactions:
- request:
    method: get
    uri: https://api.app.shortcut.com/api/v3/projects/5/stories
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Database-Time:
      - '405438339'
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '[{"app_url":"https:\/\/app.clubhouse.io\/philipcastiglione\/story\/20","archived":false,"started":false,"story_links":[],"entity_type":"story","labels":[{"description":null,"archived":false,"entity_type":"label","color":null,"name":"Party","updated_at":"2016-09-20T04:47:39Z","external_id":null,"id":21,"created_at":"2016-09-20T04:47:39Z"}],"external_tickets":[],"task_ids":[22,23],"mention_ids":[],"member_mention_ids":[],"story_type":"feature","file_ids":[],"completed_at_override":null,"started_at":null,"completed_at":null,"name":"Reap
        Rewards","completed":false,"blocker":false,"epic_id":null,"previous_iteration_ids":[],"requested_by_id":"57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef","iteration_id":null,"started_at_override":null,"workflow_state_id":500000014,"updated_at":"2016-09-20T04:47:39Z","group_mention_ids":[],"support_tickets":[],"follower_ids":["57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef"],"owner_ids":[],"external_id":null,"id":20,"estimate":null,"position":12147418112,"blocked":false,"project_id":5,"linked_file_ids":[],"deadline":null,"comment_ids":[],"created_at":"2016-09-20T04:47:39Z","moved_at":null},{"app_url":"https:\/\/app.clubhouse.io\/philipcastiglione\/story\/15","archived":false,"started":false,"story_links":[],"entity_type":"story","labels":[{"description":null,"archived":false,"entity_type":"label","color":null,"name":"Door
        Bashing","updated_at":"2016-09-20T04:46:23Z","external_id":null,"id":16,"created_at":"2016-09-20T04:46:23Z"},{"description":null,"archived":false,"entity_type":"label","color":null,"name":"Goons","updated_at":"2016-09-20T04:44:25Z","external_id":nul[...]
