---
http_interactions:
- request:
    method: get
    uri: https://api.clubhouse.io/api/v1/epics
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '6527526'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":6,"name":"An Odyssian Epic","description":"So, just so epic.","created_at":"2016-09-20T04:41:32Z","updated_at":"2016-09-20T04:41:32Z","deadline":"2017-09-19T14:00:00Z","state":"to
        do","position":1,"archived":false,"follower_ids":["57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98"],"owner_ids":["57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98"],"comments":[]},{"id":24,"name":"My
        New Epic","description":"","created_at":"2016-10-24T23:00:36Z","updated_at":"2016-10-24T23:00:36Z","deadline":null,"state":"to
        do","position":2,"archived":false,"follower_ids":[],"owner_ids":[],"comments":[]}]'
  recorded_at: Tue, 25 Oct 2016 01:25:22 GMT
recorded_with: VCR 3.0.3
