---
http_interactions:
- request:
    method: post
    uri: https://api.clubhouse.io/api/v1/epics
    body:
      encoding: UTF-8
      string: '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '6528363'
    body:
      encoding: UTF-8
      string: '{"message":"The request included invalid or missing parameters.","errors":{"name":"missing-required-key","foo":"disallowed-key"}}'
  recorded_at: Tue, 25 Oct 2016 02:17:26 GMT
recorded_with: VCR 3.0.3
