---
http_interactions:
- request:
    method: post
    uri: https://api.app.shortcut.com/api/v3/epics
    body:
      encoding: UTF-8
      string: '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Database-Time:
      - '405438051'
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
    body:
      encoding: UTF-8
      string: '{"message":"The request included invalid or missing parameters.","errors":{"name":"missing-required-key","foo":"disallowed-key"}}'
  recorded_at: Sun, 22 Dec 2019 05:58:27 GMT
recorded_with: VCR 3.0.3
