---
http_interactions:
- request:
    method: post
    uri: https://api.clubhouse.io/api/v2/epics
    body:
      encoding: UTF-8
      string: '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '46222857'
    body:
      encoding: UTF-8
      string: '{"message":"The request included invalid or missing parameters.","errors":{"name":"missing-required-key","foo":"disallowed-key"}}'
  recorded_at: Sat, 28 Oct 2017 06:49:13 GMT
recorded_with: VCR 3.0.3
