---
http_interactions:
- request:
    method: post
    uri: https://api.clubhouse.io/api/v1/stories/search
    body:
      encoding: UTF-8
      string: '{"text":"In A Land"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '6528435'
    body:
      encoding: UTF-8
      string: '[{"archived":false,"created_at":"2016-10-25T02:22:01Z","id":28,"name":"In
        A Land","story_type":"feature","description":"","position":12147680256,"workflow_state_id":500000014,"estimate":null,"updated_at":"2016-10-25T02:22:01Z","deadline":null,"project_id":5,"labels":[],"requested_by_id":"57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98","owner_ids":[],"follower_ids":["57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98"],"epic_id":null,"file_ids":[],"linked_file_ids":[],"comments":[],"tasks":[],"story_links":[]}]'
  recorded_at: Tue, 25 Oct 2016 02:22:05 GMT
recorded_with: VCR 3.0.3
