---
http_interactions:
- request:
    method: get
    uri: https://api.clubhouse.io/api/v2/search/stories
    body:
      encoding: UTF-8
      string: '{"query":"!is:archived ","page_size":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Database-Time:
      - '153773423'
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"next":"\/api\/v2\/search\/stories?query=%21is%3Aarchived+&page_size=5&next=9acaf56dbfb45eda009dd3f30788c06323ec16cc~4","data":[{"entity_type":"story","archived":false,"created_at":"2018-10-25T02:40:20Z","updated_at":"2018-10-25T02:40:20Z","id":32,"external_id":null,"name":"Test
        Story 26","story_type":"feature","position":12149122048,"workflow_state_id":500000008,"moved_at":"2018-10-25T02:40:20Z","started":false,"started_at":null,"started_at_override":null,"completed":false,"completed_at":null,"completed_at_override":null,"blocker":false,"blocked":false,"estimate":null,"deadline":null,"project_id":6,"labels":[],"requested_by_id":"5bd12c8c-28ed-496e-8f9b-ac655c315265","owner_ids":[],"follower_ids":["5bd12c8c-28ed-496e-8f9b-ac655c315265"],"mention_ids":[],"epic_id":null,"story_links":[],"app_url":"https:\/\/app.clubhouse.io\/recurser\/story\/32","description":""},{"entity_type":"story","archived":false,"created_at":"2018-10-25T02:40:17Z","updated_at":"2018-10-25T02:40:17Z","id":31,"external_id":null,"name":"Test
        Story 25","story_type":"feature","position":12149056512,"workflow_state_id":500000008,"moved_at":"2018-10-25T02:40:17Z","started":false,"started_at":null,"started_at_override":null,"completed":false,"completed_at":null,"completed_at_override":null,"blocker":false,"blocked":false,"estimate":null,"deadline":null,"project_id":6,"labels":[...]
