---
http_interactions:
- request:
    method: get
    uri: https://api.app.shortcut.com/api/v3/search/stories
    body:
      encoding: UTF-8
      string: '{"query":"!is:archived ","page_size":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Database-Time:
      - '405438379'
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"next":null,"data":[{"app_url":"https:\/\/app.shortcut.com\/philipcastiglione\/story\/20","description":"Given
        that you''ve just rescued the princess from her evil kidnappers, you will
        probably want to enjoy your hearty rewards.","archived":false,"started":false,"story_links":[],"entity_type":"story","labels":[{"description":null,"archived":false,"entity_type":"label","color":null,"name":"Party","updated_at":"2016-09-20T04:47:39Z","external_id":null,"id":21,"created_at":"2016-09-20T04:47:39Z"}],"external_tickets":[],"mention_ids":[],"member_mention_ids":[],"story_type":"feature","linked_files":[],"completed_at_override":null,"started_at":null,"completed_at":null,"name":"Reap
        Rewards","completed":false,"comments":[],"blocker":false,"branches":[],"epic_id":null,"previous_iteration_ids":[],"requested_by_id":"57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef","iteration_id":null,"tasks":[{"description":"Party","entity_type":"story-task","story_id":20,"mention_ids":[],"member_mention_ids":[],"completed_at":null,"updated_at":"2016-09-20T04:47:39Z","group_mention_ids":[],"owner_ids":[],"external_id":null,"id":22,"position":1,"complete":false,"created_at":"2016-09-20T04:47:39Z"},{"description":"Don''t
        tell anyone that you actually organised the whole thing","entity_type":"story-task","story_id":20,"mention_ids":[],"member_mention_ids":[],"completed_at":null,"updated_at":"2016-09-20T04:47:39Z","group_mention_ids":[],"owner_ids":[],"external_id":null,"id":23,"position":2,"complete":false,"created_at":"2016-09-20T04:47:39Z"}],"started_at_override":null,"workflow_state_id":500000014,"updated_at":"2016-09-20T04:47:39Z","group_mention_ids":[],"support_tickets":[],"follower_ids":["57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef"],"owner_ids":[],"external_id":null,"id":20,"estimate":null,"commits":[],"files":[],"position":12147418112,"blocked":false,"project_id":5,"deadline":null,"created_at":"2016-09-20T04:47:39Z","moved_at":null},{"app_url":"https:\/\/app.shortcut.com\/philipcastiglione\/story\/15","description":"Well,
        really just go pretend to rescue her, since you arranged her kidnap. Potato
        potato. Hmm. That doesn''t really work in written form.","archived":false,"started":false,"story_links":[],"entity_type":"story","labels":[{"description":null,"archived":false,"entity_type":"label","color":null,"name":"Door
        Bashing","updated_at":"2016-09-20T04:46:23Z","external_id":null,"id":16,"create[...]
