---
http_interactions:
- request:
    method: put
    uri: https://api.clubhouse.io/api/v1/stories/bulk
    body:
      encoding: UTF-8
      string: '{"story_ids":[29,30],"archived":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '6528541'
    body:
      encoding: ASCII-8BIT
      string: '[{"archived":true,"created_at":"2016-10-25T02:25:58Z","id":29,"name":"Once
        Upon","story_type":"feature","description":"","position":12147745792,"workflow_state_id":500000014,"estimate":null,"updated_at":"2016-10-25T02:31:13Z","deadline":null,"project_id":5,"labels":[],"requested_by_id":"57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98","owner_ids":[],"follower_ids":["57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98"],"epic_id":null,"file_ids":[],"linked_file_ids":[],"comments":[],"tasks":[],"story_links":[]},{"archived":true,"created_at":"2016-10-25T02:25:59Z","id":30,"name":"A
        Time","story_type":"feature","description":"","position":12147811328,"workflow_state_id":500000014,"estimate":null,"updated_at":"2016-10-25T02:31:13Z","deadline":null,"project_id":5,"labels":[],"requested_by_id":"57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98","owner_ids":[],"follower_ids":["57e0b4eb-d3a0-4e27-8142-8e72a0a2cf98"],"epic_id":null,"file_ids":[],"linked_file_ids":[],"comments":[],"tasks":[],"story_links":[]}]'
  recorded_at: Tue, 25 Oct 2016 02:31:14 GMT
recorded_with: VCR 3.0.3
