---
http_interactions:
- request:
    method: put
    uri: https://api.clubhouse.io/api/v2/epics/24
    body:
      encoding: UTF-8
      string: '{"state":"in progress"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '46222849'
    body:
      encoding: UTF-8
      string: '{"entity_type":"epic","id":24,"external_id":null,"name":"My New Epic","description":"","created_at":"2016-10-24T23:00:36Z","updated_at":"2017-10-28T06:48:25Z","deadline":null,"state":"in
        progress","position":2,"started":true,"started_at":"2017-10-28T06:48:25Z","started_at_override":null,"completed":false,"completed_at":null,"completed_at_override":null,"archived":false,"labels":[],"milestone_id":null,"follower_ids":[],"owner_ids":[],"project_ids":[],"comments":[],"stats":{"num_points_done":0,"num_stories_unstarted":0,"last_story_update":null,"num_points_started":0,"num_points_unstarted":0,"num_stories_started":0,"num_stories_unestimated":0,"num_points":0,"num_stories_done":0}}'
  recorded_at: Sat, 28 Oct 2017 06:48:25 GMT
recorded_with: VCR 3.0.3
