---
http_interactions:
- request:
    method: put
    uri: https://api.clubhouse.io/api/v2/stories/bulk
    body:
      encoding: UTF-8
      string: '{"story_ids":[29,30],"archived":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Clubhouse-Company:
      - ''
      Clubhouse-Organization:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      Database-Time:
      - '46222890'
    body:
      encoding: ASCII-8BIT
      string: '[{"entity_type":"story","archived":true,"created_at":"2016-10-25T02:25:58Z","updated_at":"2016-10-25T02:31:13Z","id":29,"external_id":null,"name":"Once
        Upon","story_type":"feature","position":12147745792,"workflow_state_id":500000014,"moved_at":null,"started":false,"started_at":null,"started_at_override":null,"completed":false,"completed_at":null,"completed_at_override":null,"blocker":false,"blocked":false,"estimate":null,"deadline":null,"project_id":5,"labels":[],"requested_by_id":"57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef","owner_ids":[],"follower_ids":["57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef"],"epic_id":null,"story_links":[],"comment_ids":[],"file_ids":[],"linked_file_ids":[],"task_ids":[]},{"entity_type":"story","archived":true,"created_at":"2016-10-25T02:25:59Z","updated_at":"2016-10-25T02:31:13Z","id":30,"external_id":null,"name":"A
        Time","story_type":"feature","position":12147811328,"workflow_state_id":500000014,"moved_at":null,"started":false,"started_at":null,"started_at_override":null,"completed":false,"completed_at":null,"completed_at_override":null,"blocker":false,"blocked":false,"estimate":null,"deadline":null,"project_id":5,"labels":[],"requested_by_id":"57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef","owner_ids":[],"follower_ids":["57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef"],"epic_id":null,"story_links":[],"comment_ids":[],"file_ids":[],"linked_file_ids":[],"task_ids":[]}]'
  recorded_at: Sat, 28 Oct 2017 06:50:05 GMT
recorded_with: VCR 3.0.3
