---
http_interactions:
- request:
    method: put
    uri: https://api.app.shortcut.com/api/v3/epics/25
    body:
      encoding: UTF-8
      string: '{"state":"in progress"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Database-Time:
      - '405438050'
      Shortcut-Company:
      - ''
      Shortcut-Organization:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"description":"","archived":false,"started":true,"entity_type":"epic","labels":[],"external_tickets":[],"mention_ids":[],"member_mention_ids":[],"project_ids":[],"completed_at_override":null,"started_at":"2019-12-22T05:58:23Z","completed_at":null,"name":"EEEEEEPIC","completed":false,"comments":[],"state":"in
        progress","milestone_id":null,"requested_by_id":"57e0b4eb-a95f-4dad-81c5-dd817fcdd5ef","epic_state_id":500000018,"started_at_override":null,"updated_at":"2019-12-22T05:58:23Z","group_mention_ids":[],"support_tickets":[],"follower_ids":[],"owner_ids":[],"external_id":null,"id":25,"position":3,"deadline":null,"stats":{"num_points_done":0,"num_stories_unstarted":0,"last_story_update":null,"num_points_started":0,"num_points_unstarted":0,"num_stories_started":0,"num_stories_unestimated":0,"num_points":0,"num_stories_done":0},"created_at":"2016-10-25T01:25:24Z"}'
  recorded_at: Sun, 22 Dec 2019 05:58:23 GMT
recorded_with: VCR 3.0.3
